 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.2), rgba(26,26,26,0.2)), url("/images/PXL_20220405_100331027.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 797px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 725px;
  margin: 46px 0 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 306px;
  transition-duration: 1.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px 30px 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  font-size: 3rem;
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 306px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  font-size: 1.25rem;
  background-image: none;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 744px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 42px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 328px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 21.75% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 348px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 113px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: -3px;
    margin-left: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 291px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 36px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -22px;
    margin-left: 38px;
  }
}

.u-section-1 .u-layout-cell-1,
.u-section-1 .u-layout-cell-1:before,
.u-section-1 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-layout-cell-1:before {
  background-image: url(/images/PXL_20210920_123731565.MP.jpg) !important;
}

.u-section-1 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover {
  transform: scale(1) rotate(0deg) !important;
}

.u-section-1 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover:before {
  background-position: 100% 50% !important;
}

.u-section-1 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
  transform: scale(1) rotate(0deg) !important;
}

.u-section-1 .u-container-layout:hover .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}