.page-content {
  width: $container-width - 60px;
  display: block;
  margin: 10px auto 10px;
  padding: 0px 10px 10px;
  float: left;
  text-align: left;
}

#textlinks {
  text-decoration: none;
}

#textlinks:hover {
  font-weight: bold;
}

.header-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

//.img-responsive img {
  //position: relative;
//  width: 20%;
//  max-width: 600px;
//  height: auto;
//  margin: 10px auto 10px;
//  float: right;
//  display: inline-block;
//}
.special-header {
  position: relative;
  text-align: center;
  color: white;
  top: 0;
  left: 0;
  width: $container-width;
}

.header-background {
  position: relative;
  top: 0;
  left: 0;
  width: 200%;
  height: auto;
  margin: 10px auto 10px;
  object-fit: cover;
}

.headertitle {
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.0);
}

.round-image {
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 2;
  width: 20%;
  height: automatic;
  border-radius: 40%;
  border: 6px solid $brand-color;
}

@media (max-width: $container-width) {
  .post-content {
    width: 50vw;
    display: block;
    margin: 10px auto 10px;
  }
  .featured-image img {
    align: middle;
    margin: 5px auto 25px;
    display: block;
    max-width: 60vw;
  }
}
@media (max-width: $tablet-width) {
  .post-content {
    width: 95vw;
    display: block;
    margin: 10px auto 10px;
  }
  .featured-image img {
    align: middle;
    margin: 5px auto 25px;
    display: block;
    max-width: 95vw;
  }
}
